@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: black;
}

#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav-bar {
    width: 100%;
    height: 70px;
    background: black;
}

.logo-div {
    float: left;
}

#header-img {
    width: 350px;
    margin-left: 1em;
}

.navbar-links{
    float: right;
    padding: 1.5em 4em 0 0;
}

#ham-img {
    display: none;
}

.hide-desktop {
    display: none;
}

#header li {
    display: inline-block;
    padding: 0 .5em;
}

.nav-link {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1.3em;
}

.nav-link:hover {
    color: white;
}

.gradient-footer {
    width: 100%;
    height: .2em;
    background: linear-gradient(132deg, red, orange);
    background-size: 400% 400%;
    animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#img-section {
    text-align: center;
    margin-bottom: -4.5px;
    overflow: hidden;
}

#about {
    position: absolute;
    color: white;
    font-size: 1.2em;
    margin: 6.5% 10% ;
    background-color: black;
    opacity: .8;
    padding: 2em .5em;

}

#about-text {
    text-align: center;
}

#form {
    background-color: #232323;
    color: #a8a8a8;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

#quote {
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1.5em;
    padding-bottom: 2em;
}

#Slash {
    font-weight: normal;
    font-style: italic;
}

#email-block {
    padding-bottom: .5em;
}

#email {
    height: 40px;
    width: 20%;
    padding-left: .5em;
    font-size: .8em;
    font-weight: lighter;
}

#submit {
    height: 44px;
    width:10%;
    font-size: .8em;
    background-color: #c4c4c4;
    border-style: none;
}

#submit:hover {
    background-color: #d3d3d3;
}

#video-section {
    margin-bottom: -4.5px;
}

#pricing-header {
    background-color: #232323;
    color: #a8a8a8;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
}

#pricing {
    background-color: #232323;
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    padding-bottom: 3.5em;
}

.pricing-container {
    background-color: #2E2E2E;
    color: #a8a8a8;
    margin: 1em;
    width: 300px;
    padding-bottom: .5em;
}

.container-header {
    height: 15%;
    text-align: center;
    line-height: 75px;
    font-size: 2em;
}

.container-body {
    text-align: left;
    padding-top: .5em;
}

.container-body img {
    display: block;
    max-width: 90%;
    margin: 0 auto 1em auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing-info {
    padding: .5em 1.5em;
}

.pricing-info ul {
    padding-bottom: 1em;
    padding-left: 1.5em;
}

.pricing-container:hover .container-header, .pricing-container:hover .container-body{
    color: white;
}

#footer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: black;
}

#social-links {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-top: 30px;
}

#copyright {
    width: 50%;
    color: #a8a8a8;
    background-color: black;
    text-align: end;
    line-height: 1.2em;
    padding-top: 2em;
    padding-right: 5em;
    font-size: 1em;
}

.footer-links {
    text-decoration: none;
    color: #a8a8a8;
}

.footer-links:hover {
    color: white;
}

/* Style all font awesome icons */
.fab {
    padding: 11px 5px 0px 5px;
    font-size: 20px;
    width: 35px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(218, 218, 218);
    background-color: #363636;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-square:hover {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter-square:hover {
    background: #55ACEE;
    color: white;
}

.fa-instagram:hover {
    background: #833AB4;;
    color: white;
}

.fa-youtube:hover {
    background: red;
    color: white;
}

@media only screen and (max-width: 740px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }

    #footer {
        flex-direction: column;
        align-items: center;
    }

    #copyright {
        margin-left: 5em;
        text-align: center;
    }

    .navbar-links {
        display: none;
    }

    #ham-img {
        display: block;
        float: right;
        width: 45px;
        padding-top: 1.2em;
        padding-right: 1.5em;
        opacity: 0.8;
    }

    #ham-img:hover {
        opacity: 1;
    }

    .show-mobile {
        position: absolute;
        left: 70%;
        width: 200px;
        height: 800px;
        opacity: .8;
        z-index: 2;
        background-color: black;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    .show-mobile a {
        text-decoration: none;
        font-size: 1.5em;
        color: white;
    }
}

@media only screen and (max-width: 500px) {
    #img-section {
        display: none;
    }

    #header-img {
        width: 200px;
        margin-left: 1em;
    }
    #nav-bar {
        height: 40px;
    }

    #email {
        width: 100px;
    }

    #submit {
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 30px;
        margin-top: .5em;
    }

    #ham-img {
        display: block;
        float: right;
        width: 25px;
        padding-top: .8em;
        padding-right: 1em;
        opacity: 0.8;
    }

    .show-mobile {
        width: 200px;
        height: 800px;
        opacity: .8;
        z-index: 2;
        background-color: black;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    .show-mobile a {
        text-decoration: none;
        font-size: 1.5em;
        color: white;
    }
}

@media only screen and (min-width: 741px) {
    .hide-all {
        display: none;
    }
}